html,
body,
#root {
  height: 100%;
  margin: 0px;
}

.row {
  margin: 0 !important;
}

.row > * {
  width: auto !important;
}

.navbar {
  height: 10%;
}

.landingpage {
  height: 90%;
}

.contactus-btn button {
  background: #ff5d22;
  color: white;
  border: none;
}
.btn-pills {
  width: 35%;
}
.btn-pills .getstarted {
  background: #ff5d22;
  color: white;
  border: none;
}
.btn-pills .learnmore {
  border: none;
}

.content {
  max-width: 500px;
}
.text {
  max-width: 700px;
}
.nav-btns {
  min-width: 60%;
}
.landingpage {
  background: linear-gradient(180deg, #e0ceff 0%, rgba(196, 196, 196, 0) 100%);
}
.landingpage-container {
  margin-top: 4% !important;
}

.heading {
  margin-top: 10px;
}

.long-line {
  width: 100%;
  height: 1px;
  background-color: black;
}
.imagesLogo {
  max-width: 60%;
}

.imagesLogos > div {
  height: 5%;
  width: 5%;
}
.para {
  margin-top: 40px;
}

.card {
  width: 19%;
  background-color: #f7f7f7 !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.card-img img {
  height: 89%;
}

.card p {
  color: #a9b0bc;
}
.box {
  width: 15%;
  height: 12rem!important;
  background-color: #f7f7f7 !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.allbtn {
  border: none;
  border-radius: 20px;
  margin-left: 47%;
  margin-top: 2%;

  background-color: #ebf2f3;
}
.container-text1 {
  color: #ff5d22;
}
.container h6 {
  color: #ff5d22;
}
.container h2 {
  width: 50%;
}
.text1 p {
  color: #ff5d22;
}
.heading h5 {
  margin-left: 5%;
}
.custom-paragraph {
  width: 335px;
}

.left-content{
  width: 50%!important;
}

.third-page-image{
  height: 100%;
  width: 30%;
}

.box h1{
  font-size: 4rem;
}